# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbol processing related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will create this file on each build
/android/app/src/main/assets/

# Flutter repo-specific consider removing
/packages/flutter_tools/test/data/dart_dependencies_test/bad_packages/
/packages/flutter_tools/test/data/dart_dependencies_test/good_packages/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/
